 <div class="jumbotron">
    <h2 class="title">mymovies.club</h2>
    <h4 class="slogan">

                      <br>
                      <br>
                      是最独特的
                      <br>
                      <br>
                      私人电影收藏夹。
                      <br>
                      <br>
                      我们希望藉由这个网站
                       <br>
                      <br>
                      能让大家收藏喜欢的电影和台词。
                      </h4>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/movies">马上加入</a></p>
 </div>
