/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 .jumbotron {
  background-image:url('https://ws1.sinaimg.cn/large/006tKfTcgy1fjz5i1nk1ij31kw11zb2a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  margin-left: 600px;
  margin-top: 450px;
  margin-bottom: 20px;
}

.slogan {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 600px;
  color: black;
  top: 12px;
}

.lead {
  margin-bottom: 20px;
  margin-left: 600px;
  color: white;
}
.container-fluid .jumbotron{
                  padding-bottom: 800px;
                  margin: -20px -15px 20px;
                  border-radius: 0;
}
 @media (min-width: 768px) {
                   .navbar {
                                     border-radius: 0;
                  }
}
