<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Rails101
        <br>Design by
        <a href="http://logdown.com/dashboard" target=_new>董明娟</a>
    </p>
</footer>
